.flex-container {
    display: flex;
}

#flex-item-1 {
    width: 33rem;
}

#flex-item-2 {
    width: 66rem;
}

form {
    background-color: whitesmoke;
    justify-content: space-around;
}

.form-item {
    margin: 20px;
}