@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;

    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
}

#flex-item-1 {
    width: 33rem;
    height: 50rem;
    margin: 0px;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-attachment: cover;
}

#flex-item-2 {
    width: 66rem;
    background-color: whitesmoke;
}

#logo{
    color:whitesmoke;
    font-size: 40px;
    font-family: "Norse-Bold", sans-serif;

    position: relative;
    top: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;

    background: rgba(1, 1, 1, 0.45);
}

h1 {
    padding-top: 20px;
}

h2{
    font-weight: 400;
    font-style: normal;
}

#main-text {
    padding-top: 5rem;
    padding-left: 50px;
    width: 43rem;
}

p > label {
    display: block;
}


#form-box {
    padding-left: 20px;
    padding-bottom: 20px;

    background-color: white;

    justify-content: space-around;

    font-weight: 300;
    font-style: normal;
}


legend > h2 {
    padding-top: 15px;
    padding-left: 30px;
    margin-bottom: 0px;
}

.form-item {
    margin: 20px;
    padding-left: 13px;
    padding-right: 20px;
}

input {
    width: 15rem;
    height: 20px;
}

button {
    color: whitesmoke;
    font-size: 18px;
    
    background-color: #596D48;

    border-radius: 10px;
    border: none;

    padding: 15px 40px;
}

#create-account {
    padding-top: 30px;
    padding-left: 50px;
}

#create-account > div {
    padding-top: 20px;
}