@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.flex-container {
    display: flex;
}

#flex-item-1 {
    width: 33rem;
    height: 50rem;
    margin: 0px;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-attachment: cover;
}

#flex-item-2 {
    width: 66rem;
}

#logo{
    color:whitesmoke;
    font-size: 40px;
    font-family: "Norse-Bold", sans-serif;

    position: relative;
    top: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;

    background: rgba(1, 1, 1, 0.45);
}
h1 {
    padding-top: 20px;
}

form {
    background-color: whitesmoke;
    justify-content: space-around;
}

.form-item {
    margin: 20px;
}

